/* font added  */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@500&display=swap");

/* common syles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background: #aaaaaa;
}

/* header syles */

.title {
  padding: 60px;
  margin-left: 40px;
  color: rgb(0, 0, 0);

  font-size: 35px;
}
.container {
  display: flex;
}
.text-section {
  width: 50%;
  margin-left: 100px;
  margin-top: 50px;
}
.text-title {
  font-family: Poppins;
  color: #3a3a3a;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 70px;
}

p {
  font-family: "PT Sans Narrow", sans-serif;
  color: #3a3a3a;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-top: 15px;
}
.image-section {
  width: 50%;
}
.image-section img {
  width: 450px;
  margin-left: 100px;
  transition: transform 2s ease 0.1s;
}

.image-section:hover img {
  transform: rotate(60deg);
}
.btn {
  margin-top: 25px;
  height: 50px;
  width: 250px;
  border-radius: 41px;
  border: none;
  background: #e02c6d;
}
.btn span {
  color: antiquewhite;
  font-family: Poppins;
  font-size: 20px;
}

/* company-logo-style */
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  margin-left: 100px;
  margin-top: 75px;
}

/* popular-collection-style */

.collection-title {
  font-family: poppins;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: Poppins;
  color: #050505;
  margin-top: 40px;
  margin-bottom: 40px;
}

.collection-container {
  width: 1047px;
  height: 1385px;
  margin-left: 159px;
  margin-right: 128px;
  top: 935px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.collection {
  margin: auto;
  padding: 10px;
  box-shadow: 10px 10px 40px grey;
  border-radius: 5px;
  line-height: 1.6em;
}

.collections h4 {
  text-align: right;
  color: rebeccapurple;
}

.collection .fa {
  color: rgb(233, 233, 18);
}

.more-btn {
  text-align: right;
  margin-right: 153px;
  font-weight: 500;
  font-family: poppins;
}

.more-btn h2 {
  color: #e02c6d;
  font-size: 22px;
}

/* featured-section style */

.featured-container {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
}

.image-sec img {
  margin-left: 190px;
}

.text-sec {
  margin-left: 50px;
  margin-top: 50px;
}

.featured-title {
  color: #422f2f;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 70px;
}

.featured-title p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}
.feature-btn {
  margin-top: 25px;
  height: 50px;
  width: 250px;
  border-radius: 4px 4px;
  border: none;
  background: #e02c6d;
}
.feature-btn span {
  color: #ffff;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
}

/* footer section style */
footer {
  position: absolute;
  width: 100%;
  height: 450px;
  margin-top: 150px;
  background-color: rgb(6, 6, 51);
}

footer div {
  text-align: center;
  padding-top: 59px;
}

footer div h3 {
  color: #fff;
  font-size: 50px;
}

footer div p {
  font-size: 25px;
}

.social-icon .fa {
  padding: 20px;
}

.social-icon {
  color: #fff;
  font-size: 50px;
}

/* media quries */

/* for mobile devices */

@media only screen and (max-width: 700px) {
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .text-section {
    width: 50%;
    margin-left: 35px;
    margin-top: -8px;
  }

  .text-title {
    font-family: Poppins;
    color: #3a3a3a;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
  }
  .image-section img {
    width: 276px;
    margin-left: 40px;
    background-color: #3a3a3a;
    border-radius: 30px;
    margin-top: 39px;
  }
  .logo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 56px;
    margin-left: 39px;
    line-height: 70px;
  }

  .collection-title {
    font-family: poppins;
    text-align: center;
    font-size: 30px;
    color: #050505;
    margin-top: 105px;
    margin-bottom: 40px;
  }

  .collection-container {
    display: inline;
  }

  .collections {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .featured-container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
  }

  .image-sec img {
    width: 300px;
    height: 200px;
  }
  .featured-title {
    color: #422f2f;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 47px;
  }
  footer {
    position: absolute;
    width: 100%;
    height: 504px;
    margin-top: 150px;
    background-color: rgb(6, 6, 51);
  }
}
